
<p *ngIf="error" class="error">{{ error }}</p>

<div *ngIf="product && !loading">
  <div class="head">
    <h2>{{ product.title }}</h2>
    <a routerLink="/products">← Retour</a>
  </div>

  <form [formGroup]="form" (ngSubmit)="save()">
    <label>Titre</label>
    <input formControlName="title" />

    <label>Description</label>
    <textarea formControlName="description"></textarea>

    <label>Prix</label>
    <input type="number" formControlName="price" />

    <label>Marque</label>
    <input formControlName="brand" />

    <label>Catégorie</label>
    <input formControlName="category" />

    <label>Thumbnail</label>
    <input formControlName="thumbnail" />

    <div class="actions">
      <button type="submit" [disabled]="form.invalid || saving">
        {{ saving ? 'Enregistrement...' : 'Modifier' }}
      </button>

      <button type="button" class="danger" (click)="remove()">
        Supprimer
      </button>
    </div>
  </form>
</div>
