<div *ngIf="postDetail$ | async as data; else loadingTpl">

  <!-- post-->
  <div class="card">
    <h2>{{ data.post.title }}</h2>
    <p>{{ data.post.body }}</p>
  </div>

  <!-- comments -->
  <h3>Commentaires</h3>

  <p *ngIf="data.comments.length === 0">
    Aucun commentaire pour ce post.
  </p>

  <div *ngFor="let c of data.comments" class="card">
    <p>{{ c.body }}</p>
    <small class="muted">
      Auteur : {{ c.user.username }}
    </small>
  </div>

</div>

<ng-template #loadingTpl>
  <p class="muted">Chargement du post…</p>
</ng-template>
