<p *ngIf="loading">Chargement...</p>
<p *ngIf="error" class="error">{{ error }}</p>

<div *ngIf="post">
  <div class="card">
    <h2>{{ post.title }}</h2>

    <p class="muted" *ngIf="author">
      Auteur :
      <a [routerLink]="['/users', author.id]">
        {{ author.firstName }} {{ author.lastName }}
      </a>
    </p>

    <p>{{ post.body }}</p>
  </div>

  <h3>Commentaires</h3>

  <div *ngIf="comments.length === 0">
    Aucun commentaire.
  </div>

  <div *ngFor="let c of comments" class="card">
    <p>{{ c.body }}</p>
    <small class="muted">— {{ c.user.username }}</small>
  </div>
</div>
