<p *ngIf="error" class="error">{{ error }}</p>


<div *ngIf="user">
  <div class="card">
    <h2>{{ user.firstName }} {{ user.lastName }}</h2>
    <p class="muted">{{ user.email }} • {{ user.username }}</p>
  </div>

  <h3>Posts du user</h3>

 

  <div *ngIf="!loading && posts.length === 0">
    Aucun post.
  </div>

  <div *ngFor="let p of posts" class="card">
    <h4>{{ p.title }}</h4>
    <p class="muted">{{ p.body }}</p>
    <a [routerLink]="['/posts', p.id]">Voir le post</a>
  </div>
</div>
